
# Generated simulation outputs
*.eps
*.avi
baseline_*_track_position_error.pdf
stored_outputs_rangeAoA_frames.pdf
stored_outputs_rangeAoA_frames.png
piotrkowska_osm_scenario_construction.pdf
results/


results/*
!results/.gitkeep
